* {
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-position: 0%;
    padding: 20px;
}
div {
    width: 960px;
    font-size: 700px;
    font-family: Arial;
    text-align: center;


}


h1 {
    font-size: 30px;
    font-family: Arial, sans-serif;
    width: 195px;
    height: 54px;
    text-align: center;
    left: 88px;
    top: 28px;
    color: #1F9440;
}

h4 {
    font-size: 25px;
    font-family: Arial, sans-serif;
    width: 200px;
    height: 41px;
    text-align: center;
    left: 88px;
    top: 28px;
    color: #545454;
}



p {
    width: 55px;
    height: 27px;
    left: 164px;
    top: 42px;
    font-size: 15px;
    padding: 25px;
    color: #000000;


}
label{
    font-family: Arial,  sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    
}
input{
  
    width: 292px;
    height: 34px;
    background:#E9E9E9;;
   left: 42px;
   top: 270px;
 
   
   
}


.button{
    position: absolute;
    width: 270px;
    height: 62px;
    top: 514px;
    left: 53px;
    background:#1F9440;
    border: 50px;
    color: #ffffff;
  
}