* {
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    text-align: center;
    background-size: cover;
    background-color: #ffff;

}



h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, sans-serif;
    width: 175px;
    height: 54px;
    top: 69px;
    left: 100px;
    position: relative;
    
    color: #1F9440;
}


h4 {
    font-size: 25px;
    font-family: Arial, sans-serif;
    width: 200px;
    height: 41px;
    text-align: center;
    left: 88px;
    top: 28px;
    color: #545454;
}




p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    margin-top: 7px;
    display: block;
    padding: 20px;
    color: #545454;

}

label {
    width: 55px;
    height: 27px;
    top:164px;
    left: 42px;
    color: #000000;
 
}

input {

    width: 292px;
    height: 34px;
    background: #E9E9E9;
    
    left: 42px;
    top: 270px;



}


.button {
    position: absolute;
    width: 270px;
    height: 62px;
    top: 514px;
    left: 53px;
    background: #1F9440;
    border: 50px;
    color: #ffffff;

}

button {
    font-size: 30px;
    color: #FFFFFF;
    width: 270px;
    height: 62px;
    top: 646px;
    left: 53px;
    background-color: #1F9440;
    border-radius: 30px;


}




