* {
    margin: 0;
    box-sizing: border-box;
}

body {
   
    margin: auto;
    padding: 20px;
    background-color: #E5E5E5;
}

h1 {

    margin: auto;
    font-size: 40px;
    font-family: Arial;
    text-align: center;
    color: #1F9440;
}


p {
    

    left: 27px;
    top: 442px;
    width: 130px;
    height: 27;
    color: #545454;
    text-align: center;
}
img{
    width: 375px;
    height: 346px;
    top: 0px;
    left: 0px;
    border-radius: 30px;
}

button {
    font-family: Arial;
    font-size: 30px;
   
    
   
   
    
    background-color: #1F9440;
    border-radius: 30px;
    color: #ffffff;

}