*{
    margin: 0;
    box-sizing: border-box;
}
header{
    
    text-align: center;
    background-size: cover;
    background-color: #ffff;
    padding: 27px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Arial, sans-serif;
   
    margin-top: 7px;
    margin-bottom: 11px;
    color:#1F9440 ;
}

p{
    text-align: center;
    font-family: Arial,  sans-serif;
    font-size: 25px;
    
    margin-top: 7px;
    display: block;
    padding: 20px;
    color:#545454 ;

}

 button{
    font-size: 30px;
    color: #FFFFFF;
    width: 270px;
    height: 62px;
    top: 646px;
    left: 53px;
    background-color: #1F9440;
    border-radius: 30px;
   
   
}


