* {
    margin: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    font-size: bold;
    font-family: Arial, sans-serif;
    font-weight: 700px;
    color: #1F9440;
    
}
div p{
    
   
  color: #1F9440;
}
h5{
    margin: 21px;
}

header {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;


}

.img{
    margin: 10px;
    width: 200px;
    border: 1px solid red;
    border-radius: 10px;
   
}

.img2 {
    width: 200px;
    border: 1px solid red;
    border-radius: 10px;
   
    
}
.img3{
    width: 357px;
    height: 346px;
    align-items: center;
    left: 0px;
    top: 0px;
    border: 1px solid red;
    border-radius: 30px;
   
   
}
p{
    text-align: center;
    font-size: 15px;
    color: #606060;
}
