* {
    margin: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    font-size: bold;
    font-family: Arial, sans-serif;
    font-weight: 700px;
    color: #1F9440;
    border-radius: 30px;
}

header {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 30px;


}
img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid red;
}


.button{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 270px;
    height: 62px;
   text-align: center;
    left: 53px;
    top: 646px;
    background-color: #1F9440;
    border-radius: 30px;
    color:#ffffff ;

}
